<div class="container content">
    <div class="row">
        <div class="col-md-6">
            Hola
        </div>

        <div class="col-md-6">
            Mundo !!
        </div>

    </div>

</div>