<div class="container content">

    <!-- navegador-->
    <div class="page-header">

        <div class="container">
            <h1>Ruteo simple</h1>
            <div class="navLinks">
                <a [routerLink]="['/home']">home</a>
                <a [routerLink]="['/destino']">destino</a>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>
            {{ title }}
        </h1>
    </div>

    <router-outlet></router-outlet>
</div>